               <div class="rbar pull-right">
                  <h2> Log In </h2>
                  <form class="user_login pull-left">
                     <div class="user_log pull-left">Username</div>
                     <div class="user_name pull-left"><input type="text" placeholder="USERID"></div>
                     <div class="user_log pull-left">Password</div>
                     <div class="user_name pull-left"><input type="text" placeholder="♦♦♦♦♦♦♦♦♦♦"></div>
                     <div class="log_btn pull-left"><input type="submit" id="edit-submit-1" value="Log in" class="btn"></div>
                  </form>
                  <div class="forget_password pull-left"><a href="#">Forget Your Password ?</a></div>
               </div>
  